-i https://pypi.org/simple
./..
ai2thor==2.2.0
autopep8==1.5.4
certifi==2020.4.5.1
chardet==3.0.4
click==7.1.2
extremitypathfinder==1.1.0
flake8==3.8.3
flask==1.1.2
idna==2.9
itsdangerous==1.1.0
jinja2==2.11.2
markupsafe==1.1.1
mock==4.0.2
mpmath==1.1.0
msgpack==1.0.0
numpy==1.18.5
pillow==7.1.2
pre-commit==2.6.0
progressbar2==3.51.3
pytest==6.0.1
python-utils==2.4.0
pyyaml==5.3.1
requests==2.23.0
shapely==1.7.0
six==1.15.0
sympy==1.6
urllib3==1.25.9
werkzeug==1.0.1
