# Environments
.env
.venv
env
venv
ENV/
env.bak/
venv.bak/

# Editors
.idea/
*.swp

# Mac OS
.DS_Store

# Byte-compiled
**/__pycache__/

# Packaging and distribution
*.egg-info/
*.egg
eggs/
.eggs/
dist/
sdist/
wheels/

docs/_build
**/mcs_config.ini

# Ignore debug files in the root or scripts folders ONLY.
**/SCENE_HISTORY
*.gif
*.json
*.mp4
*.png
*.zip
scripts/**/*.gif
scripts/**/*.json
scripts/**/*.mp4
scripts/**/*.png
scripts/**/*.zip

# Logging output and user config
logs/*.log
scripts/log.config.user.py

