# Environments
.env
.venv
env
venv
ENV/
env.bak/
venv.bak/

# Editors
*.swp

# Mac OS
.DS_Store

# Byte-compiled
**/__pycache__/

# Packaging and distribution
*.egg-info/
*.egg
eggs/
.eggs/
dist/
sdist/
wheels/

**/SCENE_HISTORY