body {
    font: 14px "Century Gothic", Futura, sans-serif;
}

.header {
    font: 18px "Century Gothic", Futura, sans-serif;
    display: flex; 
    flex-direction: row;
    height: 60px;
    background-color: rgba(40, 90, 90, 1); /* 33, 33, 33, 1); */
    color: rgba(200, 200, 200, 1);
    margin-bottom: 12px;
}
.navbar {
    background-color: rgba(34, 110, 147, 1) !important;
    background-image: url(../img/simple-header-blended-small.png);
    background-size: cover;
}

.dropdown-menu {         
    max-height: 200px;
    overflow-y: auto;
  }

.nav-link {
    color: rgba(255,255,255, .8) !important;
}

.nav-item {
    margin-right: 15px;
    margin-left: 15px;
}

.slider-play-pause-hide {
    display: none !important;
}

.scene-control-container {
    font: 16px "Century Gothic", Futura, sans-serif;
    margin: 10px 0 0 25px;
    height: 40px;
    vertical-align: middle;
}

.scene-control-container div, .scene-control-container i {
    display: inline-block;
    vertical-align: middle;
}

.scene-control-container i:hover {
    color: #ffffff;
    cursor: pointer;
}

.scene-control-background {
    background: #dddddd;
    border-radius: 15px;
    border: 1px solid #333333;
    padding: 2px 10px;
    height: 34px;
    margin-left: 25px;
}

.slider-holder {
    width: 300px;
    margin: -4px 15px 0 15px;
}

.slider-current-frame {
    margin-left: 20px;
}

.title { 
    margin-left: 30px;
    margin-right: 10px;
    position: relative;
    display: table;
    text-align: center;
    height: 60px;
}
.title .Dropdown-root {
    vertical-align: middle !important;
    display: table-cell !important;
}

.voe_div {
    display: flex; 
    flex-direction: row;
}

.scene-image-container {
    display: flex;
    flex-direction: row;
    margin: 10px 0;
}

.scene-image-container-holder {
    position: relative;
}

.scene-image {
    width: 288px;
    height: 288px;
    margin: 5px 25px;
    position: absolute;
    top: 0;
    left: 0;
}

.location-dot {
    position: absolute;
    height: 6px;
    width: 6px;
    margin: 5px 25px;
    background-color: #ffffff;
    opacity: 1;
    border-radius: 50%;
    border: #000 1px;
    z-index: 10;
}

.scene-info-container {
    display: flex;
    flex-direction: row;
    margin: 10px 25px;
}

.scene-info-holder {
    margin-right: 30px;
}

.scene-info-holder-note {
    font: 12px "Century Gothic", Futura, sans-serif;
    line-height: 24px;
}

.sceneinfo {
    width: 250px;
    margin: 0 25px;
    text-align: center;
}

.comments-holder {
    margin: 0 25px;
}

.sceneScore {
    width: 250px;
    margin: 0 25px;
    position: relative;
    margin-top: 298px;
    padding-left: 18px;
}

.commentarea {
    margin:20px;
}

.voe_chart {
    margin-left: 20px;
    margin-right: 30px;
}

ol, ul {
    padding-left: 30px;
}

.board-row:after {
    clear: both;
    content: "";
    display: table;
}

.status {
    margin-bottom: 10px;
}

.square {
    background: #fff;
    border: 1px solid #999;
    float: left;
    font-size: 24px;
    font-weight: bold;
    line-height: 34px;
    height: 34px;
    margin-right: -1px;
    margin-top: -1px;
    padding: 0;
    text-align: center;
    width: 34px;
}

.square:focus {
    outline: none;
}

.kbd-navigation .square:focus {
    background: #ddd;
}

.game {
/*     display: flex; */
/*     flex-direction: row; */
}

.game-info {
    margin-left: 20px;
}

.slider {
    margin-left: 20px;
    margin-top: 20px;
    width: 300px;
}

.comment-container {
    margin: 20px;
}

.comment-display {
    margin: 10px 20px;
}

.comment-date {
    font-size: 12px;
    color: #777777;
}

.header-dropdown-title {
    position: relative;
    padding-right: 5px;
    vertical-align: middle;
    display: table-cell;
}

.layout-board {
    margin-bottom: 50px;
}

.movie-holder {
    margin-top: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 25px;
}

.scores_header {
    display: flex;
    margin: 10px 10px 0 10px;
}

.scenes_header {
    display: flex;
    margin: 25px 10px 0 10px;
}

.movie-text{
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.performer-group, .score-table-div, .scene-group, .scene-table-div {
    display: flex;
    margin: 5px 10px 10px 10px;
}

.score-table-div .table, .object-contents .table {
    border: 1px solid black;
    padding: 5px 15px 5px 15px; 
    text-align: center; 
}

.score-table-div th, td {
    border: 1px solid black;
    padding: 5px 15px 5px 15px; 
    text-align: center; 
}

.bold-label {
    font-weight: bold;
    width: 200px;
    margin: 2px 0;
    text-align: right;
}

.scene-text {
    padding-left: 15px;
    margin: 2px 0;
    text-align: left;
}

.scene-table-div {
    flex-direction: column;
}

.scene-table-div .table, .scene-table-div td, .object-contents .table, .object-contents td {
    border: 0px solid;
}

.objects_scenes_header {
    display: flex;
    margin: 40px 10px 0px 35px;
}

.object-nav, .object-contents {
    display: flex;
    margin: 10px 50px;
}

.object-nav .nav {
    width: 100%;
}

.object-nav .nav-tabs, .object-nav .li, .object-nav button {
    color: black !important;
}