body {
    font: 14px "Century Gothic", Futura, sans-serif;
    margin: 15px;
    background-color: rgba(240, 240, 220, 1);
}

.header {
    font: 18px "Century Gothic", Futura, sans-serif;
    display: flex; 
    flex-direction: row;
    height: 50px;
    background-color: rgba(40, 90, 90, 1); /* 33, 33, 33, 1); */
    color: rgba(200, 200, 200, 1);
    margin-bottom: 12px;
}

.title { 
    margin-top: 12px;
    margin-left: 30px;
    margin-right: 10px;
}

.voe_div {
    display: flex; 
    flex-direction: row;
}

.scene_div {
    display: flex; 
    flex-direction: row;
    margin-bottom: 20px;
}    

.sceneinfo {
    margin-left: 60px;
    margin-right: 60px;
}

.commentarea {
    margin-top:20px;
    width:300px;
}

.voe_chart {
    margin-left: 20px;
    margin-right: 30px;
}

ol, ul {
    padding-left: 30px;
}

.board-row:after {
    clear: both;
    content: "";
    display: table;
}

.status {
    margin-bottom: 10px;
}

.square {
    background: #fff;
    border: 1px solid #999;
    float: left;
    font-size: 24px;
    font-weight: bold;
    line-height: 34px;
    height: 34px;
    margin-right: -1px;
    margin-top: -1px;
    padding: 0;
    text-align: center;
    width: 34px;
}

.square:focus {
    outline: none;
}

.kbd-navigation .square:focus {
    background: #ddd;
}

.game {
/*     display: flex; */
/*     flex-direction: row; */
}

.game-info {
    margin-left: 20px;
}

.slider {
    margin-left: 20px;
    margin-top: 20px;
    width: 300px;
}

.comment-container {
    margin: 20px;
}

.comment-display {
    margin: 10px 20px;
}

.comment-date {
    font-size: 10px;
    color: #777777;
}
