name: Docs Publish
on:
  release:
    types: [published]

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      pages: write 
      id-token: write
      contents: write
      pull-requests: write
    steps:
    - name: Checkout
      uses: actions/checkout@v2
      with:
        fetch-depth: 0
    - name: Build and Commit
      id: sphinxbuild
      uses: sphinx-notes/pages@v3
      with:
        documentation_path: docs/source
        publish: false
        requirements_path: ../requirements.txt
    - uses: peaceiris/actions-gh-pages@v3
      with:
        github_token: ${{ secrets.GITHUB_TOKEN }}
        publish_dir: ${{ steps.sphinxbuild.outputs.artifact }}
        force_orphan: true